<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add/Edit meal</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Add/Edit meal</legend>
      <form method="post" ng-submit="updateMeal()">
        <div class="form-group">
          <label class="control-label">Title</label>
          <input type="text" class="form-control" ng-model="meal.title" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i>Calories</label>
          <input type="text" class="form-control" ng-model="meal.calories" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Date</label>
          <input type="text" class="form-control" ng-model="meal.createdAtDate" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Time</label>
          <input type="text" class="form-control" ng-model="meal.createdAtTime" />
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>

 </div>
