<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add/Edit meal</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Add/Edit meal</legend>
      <form method="post" ng-submit="createMeal()">
        <div class="form-group">
          <label class="control-label"><i class="ion-fork"></i> Title</label>
          <input type="text" class="form-control" ng-model="meal.title" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-pizza"></i> Calories</label>
          <input type="number" min="0" class="form-control" ng-model="meal.calories" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-calendar"></i> Date</label>
          <input type="date" class="form-control" ng-model="meal.eatenAtDate" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-clock"></i> Time</label>
          <input type="time" class="form-control" ng-model="meal.eatenAtTime" />
        </div>
        <button class="btn btn-lg btn-success btn-default">Update Information</button>
        <button class="btn btn-danger" ng-show="meal.id" ng-click="delete($event, meal.id)">Delete</button>
      </form>
    </div>
  </div>

 </div>
